.box1{
	width: 200px;
	padding: 10px 20px;
	border: 2px dotted;
	background-color: grey;
	color: white;
	border-spacing: 30px;
	margin-bottom: 30px

}

.box2{
	width: 200px;
	padding: 10px 20px;
	border: 2px dotted;
	background-color: grey;
	color: white;
	margin-bottom: 30px;
}

#image1, #image2{
	width: 150px;
	padding: 10px 15px;
	background-color: lightgrey;
	
}

#image1{
	display: block;
}

#image2{
	border: 5px;
}